<!-- partials/fragments/footer.hbs -->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SmartChef</h5>
                <p class="grey-text text-lighten-4">Created by Diego Sanchez-Carapia, Vi Tran, and Brenna Hehir</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2025 SmartChef - PantryPal
        </div>
    </div>
</footer>
