<!DOCTYPE html > 
<html lang ="en"> 
{{ fragment/html_header}}
<body> 
{{fragments/top_bar}} 
{{> fragments/error_message}}
{{fragments/new_recipe_form}}
{{fragments/recipe_container}}
</div> 
{{> fragments/footer}}
</body>
</html>

